[Unit]
Description=Kavita
Requires=podman.socket
After=podman.socket

[Container]
AutoUpdate=registry
ContainerName=kavita
Volume=/var/home/core/core-str/kavita/book:/book:Z
Volume=/var/home/core/core-str/kavita/config:/kavita/config:Z
Environment=TZ=Asia/Ho_Chi_Minh
Environment=DOTNET_SYSTEM_GLOBALIZATION_INVARIANT="true"
PublishPort=2003:5000
Image=docker.io/jvmilazz0/kavita:latest

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target