[Unit]
Description=Hoarder Web Application
Requires=podman.socket
After=podman.socket

[Container]
AutoUpdate=registry
ContainerName=hoarder-core
Image=ghcr.io/hoarder-app/hoarder:release
Environment=MEILI_ADDR=http://hoarder-meilisearch:7700
Environment=BROWSER_WEB_URL=http://hoarder-chrome:9222
Environment=DATA_DIR=/data
Volume=/var/home/core/core-str/hoarder/data:/data:z
Pod=hoarder.pod
EnvironmentFile=/var/home/core/core-str/hoarder/.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
