[Unit]
Description=Glance
Requires=podman.socket
After=podman.socket

[Container]
AutoUpdate=registry
ContainerName=glance
Image=docker.io/glanceapp/glance
Volume=/var/home/core/core-str/glance/config:/app/config:Z
Volume=/var/home/core/core-str/glance/assets:/app/assets:Z
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
Volume=/etc/localtime:/etc/localtime:ro
PublishPort=2005:8080
EnvironmentFile=/var/home/core/core-str/glance/.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target