[Unit]
Description=Vikunja Database
Requires=podman.socket
After=podman.socket

[Container]
AutoUpdate=registry

ContainerName=vikunja-db
Image=docker.io/mariadb:10
Exec= --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
Environment=MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD
Environment=MYSQL_USER=vikunja
Environment=MYSQL_PASSWORD=MYSQL_PASSWORD
Environment=MYSQL_DATABASE=vikunja
Volume=/var/home/core/core-str/vikunja/db:/var/lib/mysql:z
Volume=/etc/localtime:/etc/localtime:ro
HealthCmd=mysqladmin ping -h localhost -u $MYSQL_USER --password=$MYSQL_PASSWORD
HealthInterval=2s
HealthStartPeriod=30s
Pod=vikunja.pod

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target