[Unit]
Description=ArchiSteamFarm
Requires=podman.socket
After=podman.socket

[Container]
AutoUpdate=registry
ContainerName=asf
Environment=ASF_CRYPTKEY=WebUIPassword
Image=docker.io/justarchi/archisteamfarm:latest
PublishPort=1242:1242
Volume=/var/home/core/core-str/asf/config:/app/config:Z
Volume=/var/home/core/core-str/asf/plugins:/app/plugins:Z

[Service]
#Restart=always
Restart=no
TimeoutStartSec=900

#[Install]
#WantedBy=default.target